jsorg/
screenshots/
training/
data/**/*.png
static/train
# ignore python virtualenv
myenv/


# ignore */bad/* and */good/* folders
**/bad/**
**/good/**

__pycache__/
model/image_model/
model/user_upload/
*.keras.png
model/model_evaluations.json
.browserImages/
model/labeled_images.json
data/scripts/google-chrome-stable_current_amd64.deb
