<div class="s6 m4 l3">
    <a href="/directory?path={{ dir }}">
        <article class="no-padding transparent">
            <div class="folder-shape">
                <svg xmlns="http://www.w3.org/2000/svg" width="156" height="156" viewBox="0 0 24 24">
                    <path
                        fill="{{ '#4caf50' if dir.split('/')[-1] == 'good' else '#f44336' if dir.split('/')[-1] == 'bad' else '' }}"
                        d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h6l2 2h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20z" />
                </svg>
            </div>
        <div>
                <h6 class="white-text center-align">{{ dir.split('/')[-1] }}</h6>
        </div>
        </article>
    </a>
</div>