{% extends "index.html" %}

{% block title %}{{ path


}}{% endblock %}

{% block content %}
<main class="responsive" x-data="{ showModal: false, tab: 'uploadFromComputer' }">
    <header class="surface-container-lowest">
        <nav>
            <h5 class="max">{{ path }}</h5>
            <button class="circle transparent" onclick="clear_images('{{ path }}')">
                <i>delete</i>
                <div class="tooltip bottom  medium-space">Clear images</div>
            </button>
            <button class="circle transparent" id="upload-button" @click="showModal = true">
                <i>file_upload</i>
                <div class="tooltip bottom left  medium-space">Upload images</div>
            </button>
        </nav>
    </header>
    <main hx-get="/get_directory_images?path={{ path }}" hx-target="#grid" hx-trigger="load">
        <div class="grid" id="grid" x-transition>
            <div class="medium-height middle-align center-align s12 surface-container-lowest">
                <div class="center-align">
                    <progress class="circle large"></progress>
                    <h6 class="max">Loading...</h6>
                </div>
            </div>
        </div>
        <div class="center-align middle-align small-height">
            <progress class='htmx-indicator circle small' />
        </div>
    </main>


    <dialog class="dialog" x-bind:class="showModal ? 'active': ''" @keydown.escape="showModal = false" x-transition>
        <div class="modal-body">
            <ul class="tabs">
                <div>
                    <div class="tabs">
                        <a :class="tab == 'uploadFromComputer' ? 'active' : ''" @click="tab = 'uploadFromComputer'">
                            <i>computer</i>
                            <span>upload from computer</span>
                        </a>
                        <a :class="tab == 'uploadFromURLs' ? 'active' : ''" @click="tab = 'uploadFromURLs'">
                            <i>link</i>
                            <span>upload from URLs</span>
                        </a>
                        <a :class="tab == 'uploadFromOtherDirectory' ? 'active' : ''"
                            @click="tab = 'uploadFromOtherDirectory'">
                            <i>folder</i>
                            <span>upload from other directory</span>
                        </a>
                    </div>
                </div>
            </ul>

            <div class="container middle-align center-align small-height">
                <div x-show="tab === 'uploadFromComputer'" x-data="{ totalFiles: 0 }">
                    <form id="uploadFromComputer" class="medium-padding middle-align center-align  field"
                        hx-post="/upload" hx-target="#indicate" hx-indicator="#indicate" enctype="multipart/form-data">
                        <input type="text" name="path" value="{{ path }}" hidden>
                        <button class="small-round">
                            <i>attach_file</i>
                            <span>Select File(s)</span>
                            <input type="file" type="file" name="image" multiple
                                @change="totalFiles = $event.target.files.length; $store.filesUploaded.reset()"
                                id="fileElem" accept="image/*">
                        </button>
                        <button type="submit" class="button border small-round"
                            x-bind:disabled="totalFiles == 0">Upload</button>
                    </form>

                    <div class="small-padding htmx-indicator" id="indicate">
                        <progress id='progress' value='0' max='100'></progress>
                        <p x-text="`Uploading file ${$store.filesUploaded.uploaded} of ${totalFiles}`"></p>
                    </div>
                </div>
                <div x-show="tab === 'uploadFromURLs'" x-data="{ url: '' }">
                    <form class="medium-padding middle-align center-align row vertical field"
                        hx-post="/upload_url?path={{ path }}" hx-target="#indicate" hx-indicator="#indicate">
                        <div class="field border medium-width">
                            <input type="text" class="max fill" name="url" x-model="url" placeholder="Enter URL">
                        </div>
                        <div class="field">
                            <button type="submit" class="button border small-round"
                                x-bind:disabled="url == ''">Upload</button>
                        </div>
                    </form>
                </div>
                <div x-show="tab === 'uploadFromOtherDirectory'">
                    <p>Coming Soon</p>
                </div>
            </div>
            <div class="right-align">
                <button class="button border" @click="showModal = false">Close</button>
            </div>
        </div>
    </dialog>

</main>
{% endblock %}

{% block script %}
<script>

    const fileInput = document.getElementById('fileElem');

    document.addEventListener('alpine:init', () => {
        Alpine.store('filesUploaded', {
            uploaded: 0,

            set(val) {
                this.uploaded = val;
            },

            reset() {
                this.uploaded = 0;
            }
        })
    })
    function clear_images(path) {
        let c = confirm(`Are you sure you want to clear ${path} `);

        if (!c) {
            return;
        }
        axios.post('/clear_directory', {
            path: path
        }, {
            headers: {
                'content-type': 'application/x-www-form-urlencoded'
            }
        }).then(function (response) {
            if (response.request.status == 200) {
                window.location.reload();
            }
        }).catch(function (error) {
            console.log(error);
        });
    }

    htmx.on('#uploadFromComputer', 'htmx:xhr:progress', function (evt) {
        const no_of_files = fileInput.files.length;
        uploadedFilesCount = Math.round(evt.detail.loaded / evt.detail.total * no_of_files);
        Alpine.store('filesUploaded').set(uploadedFilesCount);
        htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
    });

</script>
{% endblock %}