<nav class="left" x-data="{ page: '{{ page }}' }">
  <a href="/" x-bind:class=" page=== 'index' ? 'active' : ''">
    <i>home</i>
    <div>home</div>
  </a>
  <a href="/train" x-bind:class=" page=== 'train' ? 'active' : ''">
    <i>exercise</i>
    <div>train</div>
  </a>
  <a href="/test" x-bind:class="page === 'test' ? 'active' : ''">
    <i>science</i>
    <div>test</div>
  </a>
  <a href="/validation" x-bind:class="page === 'validation' ? 'active' : ''">
    <i>analytics</i>
    <div>eval</div>
  </a>

  <div class="max"></div>
  <button class="transparent circle"  @click="isDark = !isDark; localStorage.setItem('darkMode', isDark)">
    <i class="page top active" x-text="isDark ? 'light_mode' : 'dark_mode'"></i>
  </button>
  <!-- github -->
  <a href="https://github.com/bethropolis/myia" target="_blank">
      {% include "icon/github.svg" %}
    <div>github</div>
  </a>
</nav>
