<div class="container small-line medium-padding">

    <h5>How to make a model</h5>
    <p>Follow these steps to create a model:</p>
    <ol class="large-text medium-line">
        <li>Collect your data: in the home page ensure the <code>training</code> and <code>testing</code> directories
            have images 70% to 30% </li>
        <li>Label your data: using the train page label your data correctly, the more images the better.</li>
        <li>Train/build your model: </li>
        <li>Evaluate your model: upload evaluation data, or use test page then run evaluation through the eval page.
        </li>
        <li>Use your model: You can now download your trained model</li>
    </ol>
</div>