{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<style>
    .date {
        font-size: 0.7rem;
    }

    .dialog.right {
        opacity: 1;
        padding: 1rem;
        inset: 0 0 auto auto;
        inline-size: 50%;
        block-size: 100%;
        max-block-size: 100%;
        border-radius: 1rem 0 0 1rem;
        background-color: var(--surface);
        z-index: 100;
    }

    code {
        font-family: 'Fira Code', monospace;
        font-size: 0.8rem;
        background-color: var(--secondary-container);
        padding: 0.2rem;
        border-radius: 0.2rem;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }
</style>
{% endblock %}


{% block content%}

<main class="responsive" x-data="{ modalOpen: false, modelpage: false }" x-on:keydown.escape="modalOpen = false">
    <header class="surface-container-lowest">
        <nav>
            <h5 class="max">Dashboard</h5>
            <button class="circle transparent" @click="modalOpen = true">
                <i>info</i>
            </button>
        </nav>
    </header>
    <div id="info-container" hx-get="/home_data" hx-trigger="load">

    </div>
    

    <div class="dialog right fixed" style="display: none;" role="dialog" tabindex="-1" x-show="modalOpen"
        x-bind:class="modalOpen ? 'show': 'hide'" x-on:click.away="modalOpen = false" x-cloak x-transition>
        {% include 'home_docs.html' %}
        <nav class="right-align">
            <button class="border" @click="modalOpen = false">close</button>
        </nav>
    </div>

    <dialog class="max" x-bind:class="modelpage ? 'active': ''" x-transition>
        {% include 'model_builder.html' %}
        <div class="right-align absolute right bottom small-padding">
            <button class="border" @click="modelpage = false">Close</button>
        </div>
    </dialog>
</main>



{% endblock %}

{% block script %}
<script>

    function clear_images(path) {
        axios.post('/clear_directory', {
            path: path
        }, {
            headers: {
                'content-type': 'application/x-www-form-urlencoded'
            }
        }).then(function (response) {
            if (response.data.status == 'success') {
                window.location.reload();
            }
        }).catch(function (error) {
            console.log(error);
        });
    }

    function delete_image(image_url) {
        let c = confirm(`Are you sure you want to delete ${image_url.split("/").at(-1)} `);

        if (!c) {
            return;
        }
        axios.post('/delete_image', {
            image_path: image_url
        }, {
            headers: {
                'Content-Type': "application/x-www-form-urlencoded"
            }
        }).then(function (response) {
            if (response.status != 200) {
                makeToast('An error occured while deleting the image');
            }
        }).catch(function (error) {
            console.log(error);
            makeToast('An error occured while deleting the image');
        });
    }
</script>

{% endblock %}