{% block header %}
<style>
    .responsive-table {
        width: 100%;
    }

    .responsive-table table {
        table-layout: fit-content;
    }

    .responsive-table td,
    .responsive-table th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .fit-content {
        width: 30%;
    }

    @media screen and (max-width: 600px) {

        .responsive-table table,
        .responsive-table thead,
        .responsive-table tbody,
        .responsive-table th,
        .responsive-table td,
        .responsive-table tr {
            display: block;
        }




        .responsive-table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .responsive-table tr {
            margin-bottom: 1rem;
        }

        .responsive-table td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        .responsive-table td:before {
            position: absolute;
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            content: attr(data-column);
        }
    }
</style>
{% endblock %}


<div class="grid" style="margin-block-end: 1em;">
    {% for directory_name, directory_info in data.directories.items() %}
    {% include 'card_template.html' %}
    {% endfor %}
</div>

<!-- Models section -->
<div class="models small-margin">
    <nav class=" small-margin small-padding">
        <h4 class="max">Models</h4>
        <div>
            <button @click="modelpage = true">
                <i>add</i>
                <span>Build model</span>
            </button>
        </div>
    </nav>
    <div class="small-height responsive-table">
        <table>
            <thead>
                <tr>
                    <th class="fit-content">Name</th>
                    <th>Size</th>
                    <th>Average Accuracy</th>
                    <th>Average Loss</th>
                    <th>Graph</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for model in data.models.data %}
                <tr>
                    <td class="fit-content">{{ model.name }}</td>
                    <td>{{ ((model.size / (1024 * 1024)) | round(2)) }} MB</td>
                    <td>{{ (model.evaluation.average_accuracy | round(2)) }}</td>
                    <td>{{ (model.evaluation.average_loss | round(2)) }}</td>


                    <td>
                        {% if model.evaluation.graph_path %}
                        <a class="tertiary-text"
                            href="{{ url_for('static', filename='images/'+model.evaluation.graph_path) }}"
                            target="_blank">View Graph</a>
                        {% else %}
                        <span class="secondary-text">No graph</span>
                        {% endif %}
                    </td>
                    <td style="overflow: visible;" style="z-index: 4;">
                        <button class="chip relative circle no-border transparent" style="z-index: 24;">
                            <i>more_vert</i>
                            <menu class="left absolute no-wrap surface-container-low" style="z-index: 44;">
                                <a>fine tune</a>
                                <a href="/test?model={{ model.name }}">test</a>
                                <a href="{{ model.path }}" download>download</a>
                                <a @click="delete_image('{{ model.path }}')">delete</a>
                            </menu>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>