{% for image_url in images %}
<div class="s6 m4 l3">
  <article class="no-padding border">
    <img class="responsive medium" loading="lazy" src="{{ image_url }}">
    <div class="absolute bottom left right padding bottom-shadow white-text">
      <nav>
        <h6>Title</h6>
        <div class="max"></div>
        <button class="circle transparent" @click="label_bad('{{ image_url }}')">
          <i>close</i>
        </button>
        <button class="circle transparent" @click="label_good('{{ image_url }}')">
          <i>check</i>
        </button>
      </nav>
    </div>
  </article>
</div>
{% endfor %}
