<div class="wrapper small-padding" x-data="{ model: ''}">
    <div>
        <div class="horizontal center-align middle-align">
            <div class="small-space">
                <i>model_training</i>
            </div>
            <div class="small-space">
                <h5 class="small">switch model</h5>
            </div>
        </div>
        <div class="field suffix label border">
            <select name="model" x-model="model" class="medium" @change="change_model(model)">
                {% for model in models %}
                <option value="{{ model }}">{{ model }}</option>
                {% endfor %}
            </select>

            <label class="active">current model</label>
            <i>arrow_drop_down</i>
        </div>

        <!-- Image upload form -->
        <div class="field suffix label border" x-data="{ image: '' }">
            <form id="form" hx-post="/upload" hx-trigger="change" hx-target="#counter" enctype="multipart/form-data">
                <label id="upload-label" for="image-upload"
                    class="primary row large-round tiny-padding small-width middle-align center-align">
                    <i>upload</i>
                    <div class="small-space">
                        <span id="upload-text" class="medium">upload image</span>
                    </div>
                </label>
                <input id="image-upload" x-model="image" type="file" name="image" accept="image/png, image/jpeg"
                    style="display: none" />
            </form>
        </div>
    </div>
</div>

{% block scripts %}
<script>
    htmx.on('#form', 'htmx:xhr:progress', function(evt) {
        var progress = evt.detail.loaded / evt.detail.total * 100;
        htmx.find('#upload-label').style.border = "3px solid #000";
        htmx.find('#upload-label').style.borderColor = 'hsl(' + progress + ', 100%, 50%)';
        htmx.find('#upload-text').innerText = 'uploading...';
        htmx.find('#image-upload').disabled = true;
    });

    htmx.on('#form', 'htmx:afterOnLoad', function(evt) {
        htmx.find('#upload-label').style.border = "none";
        htmx.find('#upload-label').style.borderColor = '';
        htmx.find('#upload-text').innerText = 'upload image';
        htmx.find('#image-upload').disabled = false;
    });
</script>
{% endblock %} 