<form action="#" class="medium-padding large-height" hx-post="/validation_results" hx-target="#result"
  hx-swap="innerHTML" hx-trigger="submit" hx-disabled-elt="button">
  <div>
    <div class="horizontal middle-align">
      <div class="small-space">
        <i>model_training</i>
      </div>
      <div class="small-space">
        <h5 class="small">model</h5>
      </div>
    </div>
    <div class="field suffix label border">
      <select name="model" class="medium">
        {% for model in models %}
        <option value="{{ model }}">{{ model }}</option>
        {% endfor %}
      </select>

      <label class="active">select model</label>
      <i>arrow_drop_down</i>
    </div>
  </div>

  <div>
    <div class="horizontal middle-align">
      <div class="small-space">
        <i>thermostat</i>
      </div>
      <div class="small-space">
        <h5 class="small">temperature</h5>
      </div>
    </div>
    <div class="field suffix label">
      <nav x-data="{temperature: 1 }">
        <label class="slider">
          <input type="range" name="temperature" min="0.0" max="1" step="0.1" x-model="temperature" class="medium" />
          <span></span>
        </label>
        <div style="width: 65px">
          <button class="border small small-round" x-text="temperature">
            1
          </button>
        </div>
      </nav>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="max horizontal middle-align">
        <i>transform</i>
        <h5 class="small">augmentation</h5>
      </div>
      <div class="toggle">
        <label for="augmentation" class="switch">
          <input id="augmentation" type="checkbox" name="augmentation">
          <span></span>
        </label>
      </div>
    </div>
  </div>
  <div class="submit absolute bottom field middle-align">
    <button class="small small-round" type="submit">evaluate</button>
  </div>
</form>

{% block scripts %}

<script>
let main = document.querySelector('#result');
let form = document.querySelector('form');

function handleError(evt) {
  main.innerHTML = `<div class="row vertical center-align middle-align full-height">
                      <h5>Error loading image</h5>
                      <p>${evt.detail.error}</p>
                      <code>${evt.detail.xhr.responseText}</code>
                    </div>`;  
}

form.addEventListener("htmx:responseError", handleError);
</script>

{% endblock %}